<%# lokaalit tässä tiedostossa: {
    maxArtistNameLen: number;
    maxTaglineLen: number;
    widgetTmplsBundleBaseUrl: string;
} %>
<%- include('common/layout-header', {title: 'Uusi artisti'}); %>
<form class="create-artist-view" onSubmit="handleFormSubmit(event)">
    <header style="<%- `background-image:url('${staticBaseUrl}user-images/-LkbhF4iOa032wUATTzV')` %>">
        <div>
            <input id="i-name" class="head-input" placeholder="Nimi" autofocus/>
            <div class="error"></div>
        </div>
        <div>
            <textarea id="i-tagline" class="tagline-input" placeholder="Tagline"></textarea>
            <div class="error"></div>
        </div>
    </header>
    <section class="main">
        <div class="error"></div>
        <div id="widgets-designer-app">
            <!-- Renderöityy dynaamisesti tänne -->
        </div>
        <%- include('common/form-buttons', {submitText: 'Luo artistisivu'}); %>
    </section>
</form>
<script src="<%- staticBaseUrl %>preact.min.js"></script>
<script src="<%- widgetTmplsBundleBaseUrl %>widget-templates.js"></script>
<script src="<%- staticBaseUrl %>artistit.widget-designer.js"></script>
<script>window.artistit.addPageScript(
    <%- include('artist-create-view.js'); %>,
    {
        maxArtistNameLen: <%- maxArtistNameLen -%>,
        maxTaglineLen: <%- maxTaglineLen -%>,
        userId: '<%- user.id -%>'
    }
)</script>
<%- include('common/layout-footer'); %>