<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    tabData: {songs: Array<Song>;};
} %>
<section class="main artist-song-list">
    <% if (typeof user != 'undefined' && user.id == artist.userId) { %>
        <a href="<%- `${baseUrl}biisi/uusi/${artist.id}` %>">Lataa uusi biisi</a>
    <% } %>
    <div id="song-list-app">
    <div class="artist-song-list">
    <% for (const song of tabData.songs) { %>
        <article class="song">
            <h2><%= song.name %></h2>
            <p>Kuvaus.</p>
            <div>Klikit: <span class="clicks"><%- song.amountOfPlayClicks %></span></div>
            <div>Tykkäykset: <span class="likes"><%- song.amountOfLikes %></span></div>
        </article>
    <% } %>
    </div>
    </div>
</section>
<script src="<%- staticBaseUrl %>preact.min.js"></script>
<script src="<%- staticBaseUrl %>artistit.player.js"></script>
<script>window.artistit.addPageScript(function() {
    // Tyhjennä backendin renderöimä lista ...
    let songListEl = document.getElementById('song-list-app');
    songListEl.innerHTML = '';
    // .. ja korvaa react-applikaatiolla
    preact.render(preact.createElement(function() {
        return preact.createElement('div', {class: 'artist-song-list'},
            <%- JSON.stringify(tabData.songs) %>.map(function(song) {
                return preact.createElement(window.artistit.Player, {
                    song: song,
                    eventsHandler: new window.artistit.PlayerEventsHandler(window.sessionStorage),
                    baseUrl: '<%- staticBaseUrl + 'songs/' + artist.userId + '/' %>'
                });
            }));
    }), songListEl);
})</script>