<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    tabData: {songs: Array<Song>;};
} %>
<section class="main artist-song-list">
    <% if (typeof user != 'undefined' && user.id == artist.userId) { %>
        <a href="<%- `${baseUrl}biisi/uusi/${artist.id}` %>">Lataa biisi</a>
    <% } %>
    <div class="artist-song-list">
    <% tabData.songs.forEach(song => {
        var url = `${staticBaseUrl}songs/${artist.userId}/${song.id}.mp3`;
        %>
        <div class="song" <%- 'data-song-id="' + song.id + '"' +
                              ' data-song-isLikedByCurrentUser="' + song.isLikedByCurrentUser + '"' +
                              ' data-song-duration="' + song.duration + '"' %>>
            <h2><%= song.name %></h2>
            <span class="progress"></span>
            <button class="play"><%- featherSvg('play') %></button>
            <button class="like"><%- featherSvg('heart') %></button>
            <div>Klikit: <span class="clicks"><%- song.amountOfPlayClicks %></span></div>
            <div>Tykkäykset: <span class="likes"><%- song.amountOfLikes %></span></div>
            <audio>
                <source src="<%= url %>" type="audio/mpeg">
                <p>Selaimesi ei tue HTML5 audiota. <a href="<%= url %>">Lataa</a> biisi sen sijaan?.</p>
            </audio>
        </div>
    <% }) %>
    </div>
</section>
<script src="<%- staticBaseUrl %>artistit.player.js"></script>
<script>window.artistit.addPageScript(
    <%- include('artist-view-tab-biisit.js'); %>,
    {}
)</script>