<%# lokaalit t채ss채 tiedostossa: {
    artist: Artist;
    maxArtistNameLen: number;
    maxTaglineLen: number;
    readTemplate: (name: string): string;
    errorCode: number;
} %>
<%- include('common/layout-header', {title: 'Muokkaa artistia ' + artist.name}); %>
<form action="<%- baseUrl %>artisti/muokkaa" method="POST" class="edit-artist-view">
    <header style="<%- artist.coverPhoto
        ? `background-image:url('${staticBaseUrl}user-images/${artist.coverPhoto}')`
        : '' %>">
        <div>
            <input id="i-name" name="name" value="<%= artist.name %>" class="head-input" autofocus>
            <div class="error"></div>
        </div>
        <div>
            <textarea id="i-tagline" name="tagline" class="tagline-input"><%= artist.tagline %></textarea>
            <div class="error"></div>
        </div>
    </header>
    <section class="main">
        <input id="i-widgets" name="widgets" type="hidden">
        <div class="error"></div>
        <input name="id" value="<%- artist.id %>" type="hidden">
        <%- include('artist/widget-designer',
                    {widgets: JSON.parse(artist.widgets), readTemplate,
                     widgetsInputId: 'i-widgets'}) %>
        <%- include('common/form-buttons',
                    {submitText: 'Tallenna',
                     gotoOnCancel: 'artisti/' + artist.id}); %>
    </section>
</form>
<script>window.artistit.addPageScript(function() {
    var v = window.artistit.validators;
    new artistit.FormValidation([
        ['i-name', 'Nimi', v.notEmpty(), v.maxLen(<%- maxArtistNameLen %>)],
        ['i-tagline', 'Tagline', v.maxLen(<%- maxTaglineLen %>)],
        ['i-widgets', 'Widgets', v.notEmpty()],
    ]);
})</script>
<%- include('common/layout-footer', errorCode != '-1'
    ? {}
    : {toastMessage: {message: 'Tietojen p채ivitys ep채onnistui.', level: 'error'}}); %>