<%# lokaalit tässä tiedostossa: {
    widgets: Array<Widget>;
    widgetProtos: WidgetProtos;
    readTemplate: (name: string): string;
    widgetsInputId: string; // parent-templaatissa esiintyvän input-elementin id,
                            // johon päivitetään designerin output automaattisesti
} %>
<div id="widgets-designer-app"></div>
<script src="<%- staticBaseUrl %>preact.min.js"></script>
<script src="<%- staticBaseUrl %>ejs.js"></script>
<script src="<%- staticBaseUrl %>artistit.widget-designer.js"></script>
<script>window.artistit.addPageScript(function() {
    preact.render(
        preact.createElement(window.artistit.WidgetDesigner, {
            widgets: <%- JSON.stringify(widgets) %>,
            widgetProtos: <%- JSON.stringify(widgetProtos) %>,
            onUpdate: function(widgetsAsJson) {
                window.artistit.utils.fillInput(widgetsAsJson,
                                                document.getElementById('<%- widgetsInputId %>'));
            },
            templates: <%- JSON.stringify(
                ['info-box', 'twitter-feed'].reduce((obj, tn) => {
                    obj[tn] = encodeURIComponent(readTemplate('/wall-widget-' + tn));
                    return obj;
                }, {})
            ) %>,
            ejsGlobals: {
                user: {},
                baseUrl: '<%- baseUrl %>',
                staticBaseUrl: '<%- staticBaseUrl %>',
                featherSvg: (function () {
                    var staticBaseUrl = '<%- staticBaseUrl %>';
                    return <%- featherSvg %>;
                }())
            }
        }),
        document.getElementById('widgets-designer-app')
    )
})</script>