<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    songs: Array<Song>;
} %>
<section class="main artist-song-list">
    <% if (user.id == artist.userId) { %>
        <a href="<%- `${baseUrl}biisi/uusi/${artist.id}` %>">Lataa biisi</a>
    <% } %>
    <div class="artist-song-list">
    <% tabData.songs.forEach(song => {
        var url = `${staticBaseUrl}songs/${artist.userId}/${song.id}.mp3`;
        %>
        <div class="song" <%- 'data-song-id="' + song.id + '" ' +
                              'data-song-duration="' + song.duration + '"' %>>
            <h2><%= song.name %></h2>
            <span class="progress"></span>
            <button class="play"><%- featherSvg('play') %></button>
            <div>Klikit: <span class="clicks"><%- song.amountOfPlayClicks %></span></div>
            <audio>
                <source src="<%= url %>" type="audio/mpeg">
                <p>Selaimesi ei tue HTML5 audiota. <a href="<%= url %>">Lataa</a> biisi sen sijaan?.</p>
            </audio>
        </div>
    <% }) %>
    </div>
</section>
<script src="<%- staticBaseUrl %>artistit.player.js"></script>
<script src="<%- staticBaseUrl %>artisti-view-tab-biisit.js"></script>