<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    maxArtistNameLen: number;
    maxTaglineLen: number;
} %>
<%- include('layout-header', {title: 'Muokkaa artistia ' + artist.name}); %>
<form class="edit-artist-view" onSubmit="handleFormSubmit(event)">
    <header style="<%- artist.coverPhoto
        ? `background-image:url('${staticBaseUrl}user-images/${artist.coverPhoto}')`
        : '' %>">
        <div>
            <input id="i-name" value="<%= artist.name %>" class="head-input" autofocus/>
            <div class="error"></div>
        </div>
        <div>
            <textarea id="i-tagLine" class="tagLine-input"><%= artist.tagLine %></textarea>
            <div class="error"></div>
        </div>
    </header>
    <section class="main">
        <div>
            <label for="i-widgets">Widgets</label>
            <textarea id="i-widgets"><%- artist.widgets %></textarea>
            <div class="error"></div>
        </div>
        <%- include('form-buttons', {
            submitText: 'Tallenna',
            gotoOnCancel: 'artisti/' + artist.id}); %>
    </section>
</form>
<script>artistit.pageScripts.push(function() {
    var inputs = [document.getElementById('i-name'),
                  document.getElementById('i-tagLine'),
                  document.getElementById('i-widgets')];
    //
    var validator = new artistit.FormValidation(inputs);
    validator.addCheckers(inputs[0], 'Nimi',
        validator.notEmpty(),
        validator.maxLen(<%- maxArtistNameLen -%>));
    validator.addCheckers(inputs[1], 'Tagline',
        validator.maxLen(<%- maxTaglineLen -%>));
    //
    window.handleFormSubmit = function(e) {
        e.preventDefault();
        var status = 0;
        fetch('<%- baseUrl %>artisti', {
            method: 'PUT',
            credentials: 'same-origin',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: 'id=' + encodeURIComponent('<%- artist.id %>') +
                  '&name=' + encodeURIComponent(inputs[0].value) +
                  '&tagLine=' + encodeURIComponent(inputs[1].value) +
                  '&widgets=' + encodeURIComponent(inputs[2].value) +
                  '&sneakySneaky=' + encodeURIComponent(
                        document.getElementById('i-sneakySneaky').value)
        })
        .then(function(res) {
            status = res.status;
            return res.text();
        })
        .then(function(numAffectedRows) {
            if (status == 200 && numAffectedRows.length == 1)
                window.location.href = '<%- `${baseUrl}artisti/${artist.id}` %>';
            else
                toast('Tietojen tallennus epäonnistui.');
        });
    };
});</script>
<%- include('layout-footer'); %>