<%# lokaalit tässä tiedostossa: {
    artist: Artist|{};
    tabName: string;
    tabData: Object;
} %>
<%- include('layout-header', {title: artist.name}); %>
<% if (artist.id) { %>
    <header style="<%- artist.coverPhoto
        ? `background-image:url('${staticBaseUrl}user-images/${artist.coverPhoto}')`
        : '' %>" class="has-sub-nav">
        <h1><%= artist.name %><%- artist.userId == user.id
            ? `<a href="${baseUrl}artisti/muokkaa/${artist.id}">${featherSvg('edit-3')}</a>`
            : '' %></h1>
        <p><%= artist.tagLine %></p>
    </header>
    <nav class="sub-nav">
        <a href="<%- `${baseUrl}artisti/${artist.id}?näytä=seinä` %>"
            class="<%- tabName == 'seinä' ? 'current' : '' %>">Seinä</a>
        <a href="<%- `${baseUrl}artisti/${artist.id}?näytä=biisit` %>"
            class="<%- tabName == 'biisit' ? 'current' : '' %>">Biisit</a>
    </nav>
    <%- include('artist-view-tab-' + tabName, {artist, tabData}); %>
<% } else { %>
    <p>Artistia ei löytynyt.</p>
<% } %>
<%- include('layout-footer'); %>