<%# lokaalit tässä tiedostossa: {
    maxArtistNameLen: number;
    maxTaglineLen: number;
} %>
<%- include('layout-header', {title: 'Uusi artisti'}); %>
<header class="default-background">
    <h1>Uusi artisti</h1>
    <p>...</p>
</header>
<section class="main">
    <form onSubmit="handleFormSubmit(event)">
        <div>
            <label for="i-name">Nimi<span>*</span></label>
            <input id="i-name"/>
            <div class="error"></div>
        </div>
        <div>
            <label for="i-tagline">Tagline</label>
            <textarea id="i-tagline"></textarea>
            <div class="error"></div>
        </div>
        <%- include('form-buttons', {submitText: 'Luo artisti'}); %>
    </form>
</section>
<script>window.artistit.addPageScript(
    <%- include('artist-create-view.js'); %>,
    {
        maxArtistNameLen: <%- maxArtistNameLen -%>,
        maxTaglineLen: <%- maxTaglineLen -%>,
        userId: '<%- user.id -%>',
    }
)</script>
<%- include('layout-footer'); %>