<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    maxArtistNameLen: number;
    maxTaglineLen: number;
} %>
<%- include('layout-header', {title: 'Muokkaa artistia ' + artist.name}); %>
<form class="edit-artist-view" onSubmit="handleFormSubmit(event)">
    <header style="<%- artist.coverPhoto
        ? `background-image:url('${staticBaseUrl}user-images/${artist.coverPhoto}')`
        : '' %>">
        <div>
            <input id="i-name" value="<%= artist.name %>" class="head-input" autofocus/>
            <div class="error"></div>
        </div>
        <div>
            <textarea id="i-tagline" class="tagline-input"><%= artist.tagline %></textarea>
            <div class="error"></div>
        </div>
    </header>
    <section class="main">
        <div>
            <label for="i-widgets">Widgets</label>
            <textarea id="i-widgets"><%- artist.widgets %></textarea>
            <div class="error"></div>
        </div>
        <%- include('form-buttons', {
            submitText: 'Tallenna',
            gotoOnCancel: 'artisti/' + artist.id}); %>
    </section>
</form>
<script>window.artistit.addPageScript(
    <%- include('artist-edit-view.js'); %>,
    {
        maxArtistNameLen: <%- maxArtistNameLen -%>,
        maxTaglineLen: <%- maxTaglineLen -%>,
        artistId: '<%- artist.id -%>',
    }
)</script>
<%- include('layout-footer'); %>