<%- include('layout-header', {title: 'Uusi artisti'}); %>
    <header class="default-background">
        <h1>Uusi artisti</h1>
        <p>...</p>
    </header>
    <section class="main">
        <form onSubmit="handleFormSubmit(event)">
            <div>
                <label for="i-name">Nimi<span>*</span></label>
                <input id="i-name"/>
                <div class="error"></div>
            </div>
            <div>
                <label for="i-tagLine">Tagline</label>
                <textarea id="i-tagLine"></textarea>
                <div class="error"></div>
            </div>
            <input id="i-sneakySneaky" type="hidden" value=""/>
            <div class="form-buttons">
                <button id="i-submit" class="primary" disabled>Luo artisti</button>
                <a href="<%- baseUrl %>">Peruuta</a>
            </div>
        </form>
    </section>
    <script>(function() {
        var inputs = [document.getElementById('i-name'),
                      document.getElementById('i-tagLine'),
                      document.getElementById('i-sneakySneaky')];
        var submitButton = document.getElementById('i-submit');
        //
        window.handleFormSubmit = function(e) {
            e.preventDefault();
            var status = 0;
            fetch('<%- baseUrl %>artisti', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'name=' + encodeURIComponent(inputs[0].value) +
                      '&tagLine=' + encodeURIComponent(inputs[1].value) +
                      '&userId=' + encodeURIComponent('<%- user.id %>') +
                      '&sneakySneaky=' + encodeURIComponent(inputs[2].value)
            })
            .then(function(res) {
                status = res.status;
                return res.text();
            })
            .then(function(result) {
                if (status == 200 && result.length == artistit.ID_LEN)
                    window.location.href = '<%- baseUrl %>artisti/' + result;
                else
                    toast('Artistin luonti epäonnistui.');
            });
        };
        //
        inputs[0].addEventListener('input', function(e) {
            updateValidity(inputs[0], e.target.value != '', 'Nimi vaaditaan');
        });
        //
        function updateValidity(el, isValid, message) {
            el.nextElementSibling.textContent = isValid ? '' : message;
            submitButton.disabled = !isValid;
            return isValid;
        }
    }());</script>
<%- include('layout-footer'); %>