<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    tabData: {widgets: Array<{type: string; data: Object;}>;};
    templates: Object;
} %>
<section class="main"><div class="artist-widgets-list">
<% if (tabData.widgets.length) {
    for (const widget of tabData.widgets) { %>
    <div class="widget <%- widget.type %>"><div>
        <%- include('artist/wall-widget-' + widget.type,
                    Object.assign({widget}, widget.data)); %>
    </div></div>
    <% } %>
<% } else { %>
    <p>Hmm, minimaalista.</p>
<% } %>
</div></section>
<% if (user.id == artist.userId) { %>
<script src="<%- staticBaseUrl %>artistit.widget-designer.js"></script>
<script>(function() {
    new artistit.WidgetDesigner(
        document.querySelector('.artist-widgets-list'),
        <%- JSON.stringify(templates) %>,
        <%- JSON.stringify(tabData.widgets) %>,
    );
}())</script>
<% } %>