<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title><%- typeof title !== 'undefined' ? title + ' | ' : '' %>artistit.net</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <link rel="stylesheet" href="<%- staticBaseUrl %>style.css">
        <script>window.artistit = {
            pageScripts: [],
            addPageScript: function(fn, props) {
                this.pageScripts.push([fn, props]);
            },
            sessionStorage: window.sessionStorage,
            fetch: function(url, settings) { return fetch(url, settings); },
            baseUrl: '<%- baseUrl %>',
            ID_LEN: 20,
        };</script>
    </head>
    <body>
        <div id="app">
            <!-- /////////////////////////////////////////////////////// -->
            <section class="top">
                <nav class="main-menu">
                    <a href="<%- baseUrl %>">artistit.net</a>
                </nav>
                <% if (!user.id) { %>
                    <nav class="user-menu">
                        <a href="<%- baseUrl %>auth/kirjaudu">Tunnistaudu</a>
                    </nav>
                <% } else { %>
                    <nav class="user-menu collapsed">
                        <button class="icon-button"><%-
                            featherSvg('more-vertical') %></button>
                        <div class="links">
                            <a href="<%- baseUrl %>artisti/uusi">Luo artistisivu</a>
                            <a href="<%- baseUrl %>auth/ulos">Kirjaudu ulos</a>
                        </div>
                    </nav>
                <% } %>
            </section>
            <!-- /////////////////////////////////////////////////////// -->