<%# lokaalit tässä tiedostossa: {
    artistId: string;
    maxSongNameLen: number;
} %>
<%- include('layout-header', {title: 'Uusi biisi'}); %>
<header class="default-background">
    <h1>Uusi biisi</h1>
    <p>Lataa uusi kappale artistit.netiin.</p>
</header>
<section class="main">
    <form onSubmit="handleFormSubmit(event)">
        <div>
            <label for="i-name">Nimi<span>*</span></label>
            <input id="i-name"/>
            <div class="error"></div>
        </div>
        <div>
            <label for="i-file">Tiedosto<span>*</span></label>
            <input id="i-file" type="file" accept=".mp3,.wav,.ogg"/>
            <div class="info">.mp3, max (20Mb)</div>
            <div class="error"></div>
        </div>
        <div>
            <label for="i-genre">Genre</label>
            <input id="i-genre" value="Ambient" disabled/>
            <div class="error"></div>
        </div>
        <div>
            <label for="i-tags">Tagit</label>
            <input id="i-tags"/>
            <div class="error"></div>
        </div>
        <%- include('form-buttons', {submitText: 'Lataa'}); %>
    </form>
</section>
<script>window.artistit.addPageScript(
    <%- include('song-upload-view.js'); %>,
    {
        maxSongNameLen: <%- maxSongNameLen -%>,
        artistId: '<%- artistId %>',
    }
)</script>
<%- include('layout-footer'); %>